* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #07015c;
}


body {
    background-image: url('../../slika/ice-cold-blue-to-yellow-gradient-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #d9e8db;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 0px;
}

    .navbar a {
        justify-self: center;
        position: absolute;
        font-size: 25px;
        color: #d9e8db;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }

        .navbar a::before {
            content: '';
            position: fixed;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background: white;
            transition: .5s;
        }

        .navbar a:hover::before {
            width: 100%;
        }


#klikometar {
    border-radius: 20px;
    margin: 45px auto auto auto;
    height: 350px;
}




.container {
    font-family: "Poppins", sans-serif;
    display: flex;
    color: #d9e8db;
    margin-left: 10px;
    max-width: calc(90% - 250px);
}

p {
    font-style: italic;
    padding: 80px;
    color: #948e8e;
    font-size: 21px;
    line-height: 1.5;
}

.preuzmi {
    cursor: pointer;
    display: inline-block;
    background-color: #eadca6;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left:900px;
}

#rar {
    font-family: 'Times New Roman' sans-serif;
    margin-top: auto;
    margin-left: 900px;
}
#voznja {
    border-radius: 20px;
    margin: auto auto auto auto;
    height: 470px;
    margin-right :100px;
}
#lavirint-tekst{
    color: #948e8e;
    padding:80px;
    margin-right:60px;
}