* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #07015c;
}

body {
    background-image: url('../slika/ice-cold-blue-to-yellow-gradient-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #d9e8db;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 0px;
}

    .navbar a {
        justify-self:center;
        position: relative;
        font-size: 25px;
        color: #d9e8db;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }

        .navbar a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background: white;
            transition: .5s;
        }

        .navbar a:hover::before {
            width: 100%;
        }
a {
    text-decoration: none !important;
    color: inherit;
}

#Zadaci {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #cce9c5;
    font-size: 40px;
    margin-top: 120px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 11px 20px rgba(0.2, 0, 0, 0.3);
}

#programiranje {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d9e8db;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 120px;
}
